[submodule "time/lib/forge-std"]
	path = time/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Wallet/lib/forge-std"]
	path = Wallet/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Wallet/lib/v3-periphery"]
	path = Wallet/lib/v3-periphery
	url = https://github.com/Uniswap/v3-periphery
[submodule "Wallet/lib/v3-core"]
	path = Wallet/lib/v3-core
	url = https://github.com/Uniswap/v3-core
[submodule "Wallet/lib/openzeppelin-contracts"]
	path = Wallet/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "uniswap/lib/forge-std"]
	path = uniswap/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "uniswap/lib/v3-core"]
	path = uniswap/lib/v3-core
	url = https://github.com/Uniswap/v3-core
[submodule "uniswap/lib/v3-periphery"]
	path = uniswap/lib/v3-periphery
	url = https://github.com/Uniswap/v3-periphery
[submodule "uniswap/lib/openzeppelin-contracts"]
	path = uniswap/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
