[submodule "time/lib/forge-std"]
	path = time/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Wallet/lib/forge-std"]
	path = Wallet/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
